[workspace]
name = "Utama-Core"
channels = ["https://prefix.dev/conda-forge"]
platforms = ["linux-64", "osx-arm64"]
preview = ["pixi-build"]
version = "1.4.4"

[pypi-dependencies]
lenses = ">=1.2.0"
py-trees = ">=2.3.0"

[dependencies]  # shared deps
python = "3.11.*"
numpy = "==2.0.2"
pygame = "==2.6.1"
protobuf = "==3.20.2"
shapely = "==2.0.6"
gymnasium = "==1.0.0"
pyserial = "==3.5"
pytest = "==8.3.4"
ruff = ">=0.9.8"
pre-commit = ">=3.8.0"
hatch = ">=1.14.1,<2"
graphviz = ">=13.1.2,<14"
snakeviz = ">=2.2.2,<3"

[package]
name = "Utama-Core"
version = "1.4.4"

[package.build]
backend = { name = "pixi-build-python", version = "*" }

[package.host-dependencies] 
hatchling = "*"

[feature.robosim.dependencies]
python = "3.10.*"
cmake = "<3.27"
libode = ">=0.16.2,<0.17"

[feature.robosim.pypi-dependencies]
rc-robosim = "<2"
numpy = "<=2.0.2"

[tasks]
lint = "pre-commit run --all-files"
test = "pytest utama_core/tests/"
main = "python -m main"
replay = "python -m utama_core.replay.replay_player"
precommit-install = "pre-commit install && pixi run pre-commit install --hook-type pre-commit"
precommit-uninstall = "pre-commit uninstall"

[environments]
robosim = { features = ["robosim"], no-default-feature = true }
